.car-top-container {
  position: absolute;
  top: 50px;
  margin-top: 30px;
  margin-bottom: 200px;
  width: 300px;
  height: 86px;
  background-color: #ededed;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 10px;
}

.car-top-container input {
  width: 199px;
  height: 40px;
  left: 20px;
  top: 112px;
  background: #ffffff;
  border-radius: 5px 0px 0px 5px;
}

.car-top-container button {
  width: 77px;
  height: 40px;
  left: 219px;
  top: 111px;
  background: #00285f;
  border-radius: 0px 5px 5px 0px;
  color: #ffffff;
}

.car-bottom-container {
  padding-top: 20px;
  width: 300px;
  height: 347px;
  background-color: #ededed;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.car-bottom-container img {
  width: 220px;
  height: 165px;
  top: 210px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.car-bottom-container h1 {
  width: 263.86px;
  height: 21px;
  left: 31px;
  top: 383px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #000000;
  margin-top: 14px;
  margin-bottom: 14px;
}

.car-bottom-container p {
  width: 264px;
  height: 32px;
  left: 32px;
  top: 418px;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: left;
  color: #585858;
  margin-top: 14px;
}

.car-bottom-container button {   
  margin-top: 30px;
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .car-top-container {
    width: auto;
    height: auto;
  }
}
