.main-nav{
    padding-left: 20px;
    padding-right: 65px;
    min-height: 70px;
}

.nav-logo{
background-color: #F78B00;
}

.navbar-toggler-icon {
    color: #00285F;
}

.nav-logo-text, .nav-logo-text:hover{
    color:  #00285F;
}
.main-menu {
    display: flex;
    font-size: 18px;
    width: 380px;
    justify-content: space-between;
}

.main-menu a {
    color:#00285F ;
}

.main-menu a:hover {
    color:#00285F ;
}

.main-menu a.active {   
    font-weight: bold;
}

@media(min-width: 768px){
    .main-menu {
        justify-content: space-evenly;
    }
}
