.main-nav {
  padding-left: 20px;
  padding-right: 65px;
  min-height: 70px;
}

.nav-logo {
  background-color: #f78b00;
}

.navbar-toggler-icon {
  color: #00285f;
}

.nav-logo-text,
.nav-logo-text:hover {
  color: #00285f;
}
.main-menu {
  display: flex;
  font-size: 18px;
  width: 380px;
  justify-content: space-between;
}

.main-menu a {
  color: #00285f;
}

.main-menu a:hover {
  color: #00285f;
}

.main-menu a.active {
  font-weight: bold;
}

@media (min-width: 768px) {
  .main-menu {
    justify-content: space-evenly;
  }
}

@media (min-width: 1200px) {
  .main-menu {
    width: 49px;
    height: 21px;
    margin-left: 619px;
    margin-right: 600px;
    top: 25px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    column-gap: 20px;
  }

  .nav-logo-tex {
    width: 117px;
    height: 28px;
    left: 88px;
    top: 21px;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: initial;
  }
  .nav-logo-tex {}
}
